.card {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 250px;
}
.card__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.btn {
  background-color: white;
  padding: 4px;
  color: black;
}
.btn__accept {
  border: 1px solid limegreen;
}
.btn__reject {
  border: 1px solid crimson;
}
